.header {
    width: 495px;
    height: 180px;
    background-color: #ABABAB;
}

.headerTitle {
    font-size: 39px;
    font-weight: bold;
    margin: 0px;
    width: 355px;
    height: 47px;
    padding: 33px 70px 40px;
}

.headerDescription {
    color: #4b5563;
    font-size: 16px;
    margin: 0px;
    padding: 0px 324px 38px 70px;
    width: 101px;
    height: 22px;
}