.sidebar {
    max-width: 495px;
    height: 100%;
    background-color: #f9fafb;
}

.sidebar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}